<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Collections" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%# ===================== COOKIE ===================== %>
  <%= render partial: 'components/application/cookie',
        locals: {
            titolo_cookie: 'ðŸª Gestisci i tuoi cookie',
            testo_cookie: 'Utilizziamo cookie propri e di terze parti per offrirti il miglior servizio possibile, analizzare l\'utilizzo della nostra piattaforma e fornirti annunci personalizzati. Puoi modificare le impostazioni in qualsiasi momento <a href="#" class="text-green-600 underline">qui</a>.',
            powered_by: 'Powered by Usercentrics Consent Management',
            link_informazioni: 'Ulteriori informazioni',
            testo_rifiuta: 'Rifiuta',
            testo_accetta: 'Accetta tutti'
        }
    %>
  
    <main class="flex flex-col min-h-screen">
      <%= yield %>
    </main>
    <%# ===================== FOOTER ===================== %>
    <%= render partial: 'components/application/footer', locals: {
            logo_path: '/images/index/logo.png',
            uniamo_le_forze: {
                    title: 'I nostri servizi',
                    links: [
                            { text: 'Viaggi su misura', url: '#' },
                            { text: 'Tour di gruppo', url: '#' },
                            { text: 'Assicurazione viaggio', url: '#' },
                            { text: 'Lavora con noi', url: '#' }
                    ]
            },
            link_di_interesse: {
                    title: 'Link utili',
                    links: [
                            { text: 'Chi siamo', url: '#' },
                            { text: 'FAQ', url: '#' },
                            { text: 'Destinazioni', url: '#' },
                            { text: 'Blog di viaggio', url: '#' },
                            { text: 'Consigli utili', url: '#' },
                            { text: 'Contattaci', url: '#' }
                    ]
            },
            seguici: {
                    title: 'Seguici',
                    links: [
                            { text: 'Facebook', url: '#' },
                            { text: 'Instagram', url: '#' }
                    ]
            },
            app_store_link: '#',
            app_store_image: '/images/index/app-store.png',
            google_play_link: '#',
            google_play_image: '/images/index/play-store.png',
            additional_links: [
                    { text: 'Privacy Policy', url: '#' },
                    { text: 'Cookie Policy', url: '#' },
                    { text: 'Termini e condizioni', url: '#' },
                    { text: 'Consenso Cookie', url: '#' }
            ],
            languages: ['Italiano']
    } %>
  </body>
  
</html>
